/*This is for the header.*/
.button {
	font-size: 24px;
	background: rgb(30,30,105);
	color: rgb(225,225,225);
	padding: 6px 8px;
	cursor: pointer;
	border: 2px solid rgb(70,100,200);
	border-radius: 6px;
}
.button:hover{
	background: rgb(20,20,70);
	color: rgb(210,210,210);	
	cursor: pointer;
}
.header img {
	display: inline-block;
	width: 2%;
}
.header h1{
	display: inline;
}
.header div{
	text-align: center;
	padding: 20px
}

/*This is for the footer.*/
footer {
	display: block;
	width: 100%;
	text-align: center;
	background: rgba(20,20,70,0.50);
	padding: 20px 0px;
	margin: 16px 0px;

}
a {
	color: rgb(200,200,200);
	font-size: 16px;
}